/* Container for Teams */
.Teams {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Styling for the WebCanvas background */
.web-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; /* Behind all other content */
    overflow: hidden;
}

/* Styling for Teams image */
.mainteams {
    position: relative;
    height: 10vh; /* Same height as before */
    object-fit: contain;
 
    z-index: 2; /* Above the background canvas */
}

/* Style the list container */
.list {
    position: relative;
    background-color: transparent;
    padding: 20px;
    width: 100%;
 
    z-index: 2;
    overflow-y: auto;
    margin-bottom: 3%;
} 

